<nav class="navbar navbar-expand-lg">
 
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">
      ACM
    </a>
  </div>

  <% if user_signed_in? %>
    <%= link_to 'Dashboard', dashboard_path %>
    <!-- other links for logged-in users -->
    <% else %>
      <!-- links for non-logged-in users -->
  <% end %>

<a href="/rvps">RVP List</a>
<%= link_to 'RVP Files', all_rvp_files_path, class: 'nav-link' %>


  <% if user_signed_in? %>
  <div class="alert alert-success">
      You are logged in as <%= current_user.email %>. <!-- You can customize this message -->
      <%= button_to "logout", destroy_user_session_path, method: :delete  %>

    </div>
<% else %>
  <%= link_to "Sign Up", new_user_registration_path %>
  <%= link_to "Login", new_user_session_path %>
<% end %>
</nav>
