<!--If you want to link your css or scss use the stylesheet link tag-->
<%= stylesheet_link_tag('nav_bar') %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">
      <span class="navbar-red">A</span>
      <span class="navbar-white">C</span>
      <span class="navbar-blue">M</span>
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %> 
          <li class="nav-item">
            <%= link_to dashboard_path, class: 'nav-link' do %>
              Dashboard
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to rvps_path, class: 'nav-link' do %>
              RVP List
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to all_rvp_files_path, class: 'nav-link' do %>
              RVP Files
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div>
      <% if user_signed_in? %>
        <div>
          <%= button_to "logout", destroy_user_session_path, method: :delete, class: 'btn btn-danger', onclick: "return confirmLogout();" %>
        </div>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</nav>

<script>
  function confirmLogout() {
    if(confirm('Are you sure you want to log out?')) {
      alert('You have successfully logged out.');
      return true; // Proceed with logout
    } else {
      return false; // Cancel logout
    }
  }
</script>