<%= form_tag(download_selected_pdfs_path, method: :post, data: { turbo: false }) do %>
  <% @rvps.each do |rvp| %>
    <h2><%= "#{rvp.first_name} #{rvp.last_name}" %></h2>
    <ul>
      <% rvp.pdfs.each do |pdf| %>
        <li>
          <% full_name = pdf.full_name %> <!-- Get the full name from the PDF model -->
          <%= check_box_tag "selected_files[]", pdf.id %>
          <%= "#{full_name} AMC Form #{pdf.formatted_date}.pdf" %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <%= submit_tag "Download Selection" %>
<% end %>