 <!--This script src and link href are what makes select2 work.-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />

<div class="container mt-4">
  <h1 class="mb-4">RVPs</h1>
  <!-- Searchable Dropdown for RVPs -->
  <div class="form-group">
    <label for="rvp-search">Search for an RVP:</label>
    <select class="form-control" id="rvp-search">
      <option value="">Select an RVP</option>
      <% @rvps.each do |rvp| %>
        <option value="<%= rvp.id %>"><%= rvp.first_name %> <%= rvp.last_name %> - <%= rvp.solution_number %> </option>
      <% end %>
    </select>
  </div>

  <br/>

  <ul class="list-group" id="rvp-list">
    <% @rvps.each do |rvp| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to rvp.formatted_name, rvp_path(rvp), class: "mr-auto rvp-name" %>
        <span class="favorite <%= rvp.favorite_by_user?(current_user) ? 'favorited' : '' %>" data-rvp-id="<%= rvp.id %>">
          ☆
        </span>
      </li>
    <% end %>
  </ul>
</div>

<script>
  $(".favorites").on("click", function() {

    let rvpId = $(this).data("rvp-id")
    console.log("test")

    let isFavorite = "true"

    const token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

    fetch('/favorites/update', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': token,
        },
        body: { rvp_id: rvpId, favorite: isFavorite },
    })
    .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP Error! Status: ${response.status}`);
        }
        return response.json();
    })
    .then(data => {
        $(this).addClass("favorited")
    })
    .catch(error => {
        console.error("Error updating favorite status:", error);
    });
  })

  $(document).ready(function() {
  $('#rvp-search').select2({
    placeholder: "Search for an RVP",
    allowClear: true,
    width: '100%'
  }).on("select2:select", function(e) {
    // Navigate to the selected RVP's detail page when an RVP is selected
    window.location.href = '/rvps/' + e.params.data.id;
  });
});
</script>

<style>
.arrow {
  display: inline-block;
  margin-right: 5px;
  transition: transform 0.3s ease;
}
.favorite {
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
}
.favorite.favorited {
  color: gold;
}

.favorite_rvp {
    list-style-type: none; /* This removes the bullet point */
}
</style>