
<% @rvps = @rvps.sort_by { |rvp| rvp.first_name } %>
<%= form_tag(download_selected_pdfs_path, method: :post, data: { turbo: false }) do %>
  <div id="favorites-section">
    <h3>Favorites</h3>
    <ul id="favorites-list"></ul>
  </div>
  <% @rvps.each_with_index do |rvp, index| %>
    <h2 onclick="toggleVisibility('files_<%= index %>')">
        <span class="arrow">&#9654;</span> <!-- Right arrow -->
        <%= "#{rvp.first_name} #{rvp.last_name} - #{rvp.solution_number}" %>
        <span class="favorite <%= rvp.favorite_by_user?(current_user) ? 'favorited' : '' %>" id="star-main-<%= rvp.id %>" onclick="toggleFavorite('<%= rvp.id %>', this, event)">☆</span>
    </h2>
    <div id="files_<%= index %>" style="display: none;">
      <ul>
        <% rvp.pdfs.each do |pdf| %>
          <li>
            <% full_name = pdf.full_name %> <!-- Get the full name from the PDF model -->
            <%= check_box_tag "selected_files[]", pdf.id %>
            <%= "#{full_name} AMC Form #{pdf.formatted_date}.pdf" %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= submit_tag "Download Selection" %>
<% end %>

<style>
.arrow {
  display: inline-block;
  margin-right: 5px;
  transition: transform 0.3s ease;
}

.favorite {
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
}

.favorite.favorited {
  color: gold;
}
</style>

