<div class="container rvp-list-content ">
    <!-- Display notice with Bootstrap alert -->
    <p style="color: green"><%= notice %></p>

    <h1>Active RVPs</h1>
    <!-- Button styled with Bootstrap -->
    <div class="text-center d-flex justify-content-between">
      <div style="width: 100px"></div>
      <%= link_to "New RVP", new_rvp_path, class: "btn btn-primary mb-4" %>
      <%= link_to "Archived RVPs", archived_rvps_path		, class: "btn btn-outline-secondary mb-4" %> 
    </div>
    <!-- Loop through RVPs -->
    <div id="rvps" class="row">
      <% @rvps.each do |rvp| %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <!-- RVP content goes here -->
              <%= render rvp %>
              <!-- Show RVP link styled with Bootstrap -->
              <p class="text-center mt-3">
                <%= link_to "Show this RVP", rvp, class: "btn btn-primary" %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Another New RVP button styled with Bootstrap -->
    <div class="text-center d-flex justify-content-between">
      <div style="width: 100px"></div>
      <%= link_to "New RVP", new_rvp_path, class: "btn btn-primary mb-4" %>
      <%= link_to "Archived RVPs", archived_rvps_path	, class: "btn btn-outline-secondary mb-4" %> 
    </div>
</div>

<style>
/* Additional custom styles */
h1 {
  margin-bottom: 20px;
  text-align: center;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.rvp-list-content {
    min-height: 1250px !important;
}

</style>