<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">RVP Info</h2>
        </div>
        <div class="card-body">
          <%= render @rvp %>
        </div>
        <div class="card-footer">
          <div class="row justify-content-between">
            <div class="col-md-auto">
              <%= link_to "Back to rvps", all_rvp_files_path, class: "btn btn-secondary" %>
            </div>
            <div class="col-md-auto">
              <% if @rvp.archived? %>
                <%= button_to "Unarchive rvp", rvp_unarchive_path(rvp_id: @rvp.id), method: :post, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>  
              <% else %>
                <%= button_to "Archive rvp", @rvp, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
              <% end %>
            </div>
            <div class="col-md-auto">
              <%= link_to "Edit this rvp", edit_rvp_path(@rvp), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">Not Downloaded</h2>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <%= render partial: "not_downloaded", locals: { pdfs: @pdfs } %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">Downloaded</h2>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <%= render partial: "downloaded", locals: { pdfs: @pdfs } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
.list-group-flush li {
  list-style: none;
}
</style>