<p style="color: green"><%= notice %></p>

<%= render @rvp %>

<div>
  <%= link_to "Edit this rvp", edit_rvp_path(@rvp) %> |
  <%= link_to "Back to rvps", rvps_path %>

  <%= button_to "Destroy this rvp", @rvp, method: :delete %>
</div>
