<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
  <!--This script src and link href are what makes select2 work.-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />

  <meta name="csrf-token" content="<%= form_authenticity_token %>">
</head>

<body>

<div id="pdf-content">

<div class="text-center">
    <h1><%= Time.now.year %> ACM Response and Disclosure Form
    </h1>
</div>

<div class="custom_container text-center">
  <div class="row">

    <div class="col">
      <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text" class="full-name form-control" id="fullName" placeholder="Full Name">
      </div>
    </div>

  <!--This dropdown is powered by select2 -->
  <div class="col">
    <div class="form-group">
      <label for="rvp">Who is your RVP?</label>
      <!-- Single dropdown with search functionality -->
      <% sorted_rvps = Rvp.all.sort_by { |rvp| rvp.first_name } %>
      <select class="form-control" id="rvp" name="rvp">
        <option value="">Select Your RVP</option>
        <% sorted_rvps.each do |rvp| %>
          <option value="<%= rvp.id %>"><%= "#{rvp.first_name} #{rvp.last_name} - #{rvp.solution_number}" %></option>
        <% end %>
      </select>
    </div>
  </div>

    <div class="col">
      <div class="form-group">
        <label for="solutionNumber">Rep Solution Number</label>
        <input type="text" class="form-control" id="solutionNumber" placeholder="5 Digit Solution Number">
      </div>
    </div>
  </div>
</div>

<div class="custom_container text-center">
  <div class=" acm-form-box box p-4 rounded border border-primary text-center">
    <h2>Annual Compliance Meeting <%= Time.now.year %> (Life)</h2>
    <p>I have reviewed and understand the compliance rules and regulations noted in the Annual Compliance Meeting presentation, have completed the Annual Compliance Section of the Program, and have reviewed the Representations for Primerica Representatives published with the Workbook on POL. Any representation that I cannot make is noted on the Disclosure and/or Discrepancies form on the back of this page with a brief explanation. – Use the lines at the bottom of the form and/or a separate sheet.</p>
    <ul>
      <li>
        I have new disclosures and/or discrepancies to report that have not been previously reported to Primerica, and I have done so on the <%= Time.now.year %> ACM Disclosure and/or Discrepancies form (located on the back of this page).
      </li>
    </ul>
  </div>
</div>

<div class="custom_container">
  <p>
    By signing below, I certify that I have personally attended and correctly completed the <%= Time.now.year %> Annual Compliance Meeting, as required by the licenses I hold or the products I sell. My signature makes me accountable for compliance with the law and with Primerica ethics and compliance policies. I will use due diligence to ensure that my business conduct, the conduct of those I supervise, and the business conduct of my associates, is in compliance with the law and with Primerica policy.
  </p>

  <p>
    By signing below, I also certify that I have read and accurately completed the <%= Time.now.year %> ACM Disclosure and/or Discrepancies (if applicable) on the reverse side of this form.
  </p>

  <p>
    I will report any suspected violation of a law, regulation or Primerica compliance standard, and any request made of me to do anything improper or illegal, to my upline RVP, to my OSJA and to appropriate members of the Office of the General Counsel. I have reported any such matters arising in <%= Time.now.year %> to such persons. Any disclosures not previously made to such persons are included in detail on the reverse side on the Disclosures and/or Discrepancies form.
  </p>

  <p>
    I will require of myself, and will expect from my fellow Reps, the highest level of ethical conduct.
  </p>
</div>

<div class="custom_container text-center">
  <div class="row">

   <div class="d-flex flex-column col-md-6 justify-content-start">
      <input type="text" class="form-control cursive-input" id="repSignature" placeholder="John Doe" oninput="copyName('signature')" required>
      <label for="repSignature">Rep's E-Signature</label>
      <input type="text" class="form-control" id="repPrintedName" placeholder="Rep's Name" oninput="copyName('printed')" required>
      <label for="repPrintedName">Rep's Printed Name (as signed)</label>
      <input type="date" class="form-control" id="todaysDate">
      <label for="todaysDate">Today's Date</label> 
    </div>

    <div class="d-flex flex-column col-md-6 justify-content-start">
      <div class="form-group">
        <select class="form-control" id="proctored-rvp-search" name="proctored_rvp">
          <option value="">Select a Proctored RVP</option>
          <% Rvp.proctor.order(:first_name, :last_name).each do |rvp| %>
            <option value="<%= rvp.id %>"><%= "#{rvp.first_name} #{rvp.last_name} - #{rvp.solution_number}" %></option>
          <% end %>
        </select>
      </div>
      <label>ACM Proctor's Name</label> 
      <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="Date of ACM Completion">
      <label>Date of ACM Completion</label> 
    </div>

    <div class="text-center">
      <h5><%= Time.now.year %> ACM DISCLOSURES AND/OR DISCREPANCIES
      </h5>
    </div>

    <div class="custom_container">
      <p>Use this form to explain Representation(s) as outlined in the respective section of the <%= Time.now.year %> Workbook (published on POL) for products which you are authorized to represent and that you do not meet in the year <%= Time.now.year %> or that you do not agree to meet. Be sure to provide any available supporting documents, which may include, but not be limited to, court orders, written procedures, authorizations, lists of individuals involved, addresses and phone numbers for individuals involved. If you report disclosures or discrepancies on this form, you must provide your RVP with a copy. Call the Compliance Help Desk at 1-800-243-8901 with any questions regarding discrepancies/disclosures.
      </p>
      <p>
      Your signature on the first part of the form certifies the accuracy of the information on this page.
      </p>
  </div>

<div class="box p-4 rounded border border-primary text-center">
    <p>Check the applicable disclosure(s) you are making and follow the additional instructions:</p>
      <div class="row">
        <div class="col-md-6">
          <div class="form-check">
            <%= check_box_tag 'home_address_change', '1', false, class: 'form-check-input' %>
            <%= label_tag 'home_address_change', 'Home address change' %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-check">
            <%= check_box_tag 'employment_change', '1', false, class: 'form-check-input' %>
            <%= label_tag 'employment_change', 'Changes in employment which may constitute a conflict of interest (refer to Conflict of Interest Chart on POL > Compliance > Quick Links > OBA/PST > Chart of Potential Conflicts of Interest)
            For the item listed directly above, a written explanation of the facts must also be completed and attached.' %>
          </div>
      </div>

      <br>
      <br>

      <div class="row">
        <div class="col-md-6">
          <div class="form-check">
            <%= check_box_tag 'employment_change_1', '1', false, class: 'form-check-input' %>
            <%= label_tag 'employment_change_1', 'Bankruptcy, Judgment, or Lien' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-check">
            <%= check_box_tag 'employment_change_2', '1', false, class: 'form-check-input' %>
            <%= label_tag 'employment_change_2', 'Regulatory Action' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-check">
            <%= check_box_tag 'employment_change_1', '1', false, class: 'form-check-input' %>
            <%= label_tag 'employment_change_1', 'Civil Suit' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-check">
            <%= check_box_tag 'employment_change_2', '1', false, class: 'form-check-input' %>
            <%= label_tag 'employment_change_2', 'Misdemeanor or Felony Charge(s) and/or Conviction(s)' %>
          </div>
        </div>
      </div>
    <p>For all items listed directly above, you must attach certified copies of the related legal documents, along with a written explanation of the facts.</p>

    <textarea class="form-control" id="exampleFormControlInput1" placeholder="Insert additional details here." rows="9"></textarea>


</div>

<button id="download" class="form-submit-button btn btn-primary">Submit</button>

</div>

</div>

<style>
/* pages.css or application.css */
.specific-page .navbar,
.specific-page #pdf-content,
.specific-page .border-lines {
  min-width: 1366px;
  margin: 0 auto;
  overflow-x: auto;
}

.specific-page .navbar {
  min-width: 1366px;
  margin: auto;
  border-top: 1px solid rgba(0,0,0,.15);
  border-bottom: 1px solid rgba(0,0,0,.15);
  box-shadow: 0 3px 4px -1px rgba(0,0,0,.25);
}

.page-wrapper{
  min-width: 1200px;
}

.form-submit-button{
  margin-top: 15px;
}
#pdf-content {
  min-width: 1200px; /* Set the minimum width */
  overflow-x: auto; /* Add horizontal scrollbar if content overflows */
}
.acm-form-box{
  margin-top: 5px !important;
}

.form-control{
  height: 30px !important;
  border-color: #999;
}

p{
  text-wrap: none;
  max-width: 1400px;
  min-width: 1300px;
  width: 100%;
}

.custom_container{
  max-width: 1400px;
  min-width: 1400px;
  margin: auto;
}
</style>

<script>
document.getElementById('download').addEventListener('click', () => {
    const { jsPDF } = window.jspdf;
    const doc = new jsPDF('portrait', 'mm', 'a4');
    const content = document.getElementById('pdf-content');

    if (!content) {
        alert('Content not found');
        return;
    }

    const fullName = document.getElementById('fullName').value;
    const repSignature = document.getElementById('repSignature').value;
    const selectedRVP = document.getElementById('rvp').value;

    if (!repSignature) {
        alert("Rep's E-Signature is required.");
        return;
    }

    document.getElementById('download').style.visibility = 'hidden';
    // While scale: window.devicePixelRatio generates great image fidelity. The file size is too large. Use a lower scale when possible
    html2canvas(content, { scale: .5 }).then(canvas => {
        const imgWidth = 210; // A4 width in mm
        const imgHeight = canvas.height * imgWidth / canvas.width;
        const imgData = canvas.toDataURL('image/png');
        doc.addImage(imgData, 'PNG', 0, 0, imgWidth, imgHeight);
        const pdfBlob = doc.output('blob');

        // Fetch CSRF token from meta tag
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

        // Send the selected RVP, PDF data, full name, and formatted date to your server
        savePDFToDatabase(selectedRVP, pdfBlob, csrfToken, fullName).then(response => {
            alert('PDF successfully saved to database.');
            document.getElementById('download').style.visibility = 'visible';
        }).catch(error => {
            console.error('Error saving PDF:', error);
            alert('Error occurred while saving the PDF.');
            document.getElementById('download').style.visibility = 'visible';
        });
    }).catch(err => {
        console.error('Error generating canvas:', err);
        document.getElementById('download').style.visibility = 'visible';
    });
});

function savePDFToDatabase(rvp, pdfBlob, csrfToken, fullName) {
    let formData = new FormData();
    formData.append('pdf', pdfBlob);
    formData.append('rvp_id', rvp);
    formData.append('full_name', fullName);

    // Include CSRF token in the request headers
    return fetch('/save-pdf', {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRF-Token': csrfToken // Include the CSRF token
        }
    }).then(response => {
        if (!response.ok) {
            throw new Error('Server responded with ' + response.status);
        }
        return response.json();
    });
}

// rvp_dropdown_search (using select2)
$(document).ready(function() {
  $('#rvp').select2({
    width: '100%',
    placeholder: 'Select Your RVP',
    allowClear: false,
    // You can add more options here as needed
  });
  // Set today's date as the default value for the "Today's Date" input
  const today = new Date().toISOString().split('T')[0];
  document.getElementById('todaysDate').value = today;
});

  // Initialize select2 for proctored RVPs search dropdown
$(document).ready(function() {
  $('#proctored-rvp-search').select2().on('select2:select', function(e) {
    // Assuming you have an input field to display the selected proctor's name
    var selectedOption = $("#proctored-rvp-search option:selected").text();
    $('#selected-rvp-name').val(selectedOption);
  });

  $('#proctored-rvp-search').on('select2:clear', function() {
    $('#selected-rvp-name').val(''); // Clear the input box when the selection is cleared
  });
});

function copyName(source) {
  // Determine which field to copy from and to
  var signatureField = document.getElementById('repSignature');
  var printedNameField = document.getElementById('repPrintedName');
  
  if (source === 'signature') {
    printedNameField.value = signatureField.value;
  } else if (source === 'printed') {
    signatureField.value = printedNameField.value;
  }
}
</script>