<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 offset-md-2 dashboard-page-content">
      <div class="card">
        <div class="card-header">
          <h1 class="text-center">Welcome!</h1>
        </div>
        <div class="card-body">
          <p class="lead text-center">This is your dashboard where you can manage your password.</p>
          <p class="text-center">Your email: <%= current_user.email %></p>

          <hr>

         <div class="dashboard-flash-notices container">
            <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>">
                <%= value %>
              </div>
            <% end %>
          </div>

          <h2 class="text-center">Change Password</h2>

          <%= form_with(model: current_user, url: change_password_dashboard_path, method: :patch) do |form| %>
            <div class="form-group">
              <%= form.label :current_password, "Current Password" %>
              <%= form.password_field :current_password, class: "form-control", required: true %>
            </div>

            <div class="form-group">
              <%= form.label :password, "New Password" %>
              <%= form.password_field :password, class: "form-control", required: true %>
            </div>

            <div class="form-group">
              <%= form.label :password_confirmation, "Confirm New Password" %>
              <%= form.password_field :password_confirmation, class: "form-control", required: true %>
            </div>

            <div class="dashboard-change-password text-center">
              <%= form.submit "Change Password", class: "btn btn-primary btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
.dashboard-flash-notices{
  text-align: center;
}

.dashboard-page-content {
  padding-top: 300px; /* Adjust the value as needed */
  padding-bottom: 450px; /* Adjust the value as needed */
}

.dashboard-change-password{
  padding-top:20px;
}
</style>